.comics {
    position: absolute;
    top: 0;
    left: 20%;
    right: 10%;
    height: 100%;
    width: 100%;
    margin: 10px 0 0 0;
  }
  .comics__block {
    position: relative;
    text-shadow: 1px 1px 1px black, 0 0 5px white;
    width: 70%;
    height: 100%;
    opacity: 0.9;
    padding: 10px;
    top: 0;
  }
  .commics__text-header {
    background: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px 0 5px 0;
    margin-top: 20px;
  }
  .comics__info {
    margin-left: 30px;
    height: 100%;
    position: relative;
    display: inline-block;
    top: 0;
    text-align: justify;
  }
  .comics__name__img {
    width: 100%;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    top: 0;
    border-radius: 15px;
  }
  
  .backgr {
    position: absolute;
    background: grey;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    margin-left: 10px;
  }
  .on:hover {
    cursor: pointer;
    color: red;
  }
  .on{
    text-decoration:none !important;
  }